* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #ededed;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 620vh;
}

header {
  position: fixed;
  width: 100%;
  background-color: #fff159;
  top: 0px;
}
.header {
  width: 100%;
  background-color: #fff159;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}
.logo_meli {
  height: 60px;
  padding: 10px;
}

.buscar {
  padding: 5px;
  width: 600px;
  background-color: white;
  outline: none;
  border: 0.5px solid silver;
  border-radius: 0px;
  transition: all 0.6s ease;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  display: flex;
  align-items: center;
}

.buscar input {
  width: 70%;
  height: 30px;
  padding-left: 10px;
  font-size: 18px;
  color: #333;
  display: flex;
  align-content: center;
  outline: none;
  border: none;
  flex: 1;
}

::placeholder {
  opacity: 0.3;
}

.btn {
  width: 55px;
  height: 90%;
  text-align: center;
  color: grey;
  font-size: 18px;
  cursor: pointer;
  border-left: solid 0.5px rgba(0, 0, 0, 0.075);
}

.opciones_header {
  display: flex;
  font-family: "Nunito Sans", sans-serif;
  font-weight: lighter;
  gap: 20px;
}

.opciones_header a {
  text-decoration: none;
  color: black;
}

.btn_cart {
  width: 55px;
  height: 90%;
  text-align: center;
  color: grey;
  font-size: 18px;
  cursor: pointer;
}

.hero {
  max-width: 1300px;
  min-width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 6rem;
  background-image: url(/imagenes/HERO_MP.png);
  background-size: cover;
  background-position: left;
  display: flex;
  justify-content: start;
}

.hero h1 {
  font-weight: lighter;
  font-size: 50px;
  width: 300px;
  margin: auto;
  margin-left: 220px;
}

.data_container {
  max-width: 1100px;
  background-color: white;
  margin: auto;
  margin-top: 50px;
  border-radius: 5px;
}

.data_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
}

.data_container h3 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
}

.data_container a {
  font-family: "Nunito Sans", sans-serif;
  font-weight: lighter;
  text-decoration: none;
  color: blue;
  font-size: 15px;
}
.icon_tarjetas {
  color: #5697fa;
  border: solid 0.5px rgba(128, 128, 128, 0.24);
  border-radius: 50%;
  padding: 15px;
  font-size: 20px;
}

.tarjeta_credito {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.tarjeta_debito {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.cuotas {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.efectivo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.ofertas {
  display: flex;
  max-width: 1300px;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 40px;
  padding: 40px;
  gap: 20px;
}


.container{
  display: flex;
  justify-content: center;
}

.cards_container {
  width: 1100PX;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.cards {
  width: 224px;
  height: 330px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

.cards .card_img_1 {
  width: 224px;
  height: 224px;
  border-bottom: 1px solid #f1f1f1;
  background-image: url(/imagenes/celu_card.webp);
}

.cards .card_img_2 {
  width: 224px;
  height: 224px;
  border-bottom: 1px solid #f1f1f1;
  background-image: url(/imagenes/tv_card.webp);
}

.cards .card_img_3 {
  width: 224px;
  height: 224px;
  border-bottom: 1px solid #f1f1f1;
  background-image: url(/imagenes/bici_card.webp);
}

.cards .card_img_4 {
  width: 224px;
  height: 224px;
  border-bottom: 1px solid #f1f1f1;
  background-image: url(/imagenes/aspi_card.webp);
}

.cards .card_img_5 {
  width: 224px;
  height: 224px;
  border-bottom: 1px solid #f1f1f1;
  background-image: url(/imagenes/moto_cel.webp);
}

.cards .card_img_6 {
  width: 224px;
  height: 224px;
  border-bottom: 1px solid #f1f1f1;
  background-image: url(/imagenes/caja_he.webp);
}

.cards .card_img_7 {
  width: 224px;
  height: 224px;
  border-bottom: 1px solid #f1f1f1;
  background-image: url(/imagenes/xbox.webp);
}

.cards .card_img_8 {
  width: 224px;
  height: 224px;
  border-bottom: 1px solid #f1f1f1;
  background-image: url(/imagenes/micro.webp);
}


.card_precio {
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
  padding-left: 15px;
  padding-top: 15px;
}

.card_precio h3 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.descuento {
  color: #2eb670;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
}

.cuotas_sin {
  color: #2eb670;
  font-family: "Nunito Sans", sans-serif;
  font-size: 12px;
  padding-left: 15px;
}

.envios_card {
  color: #2eb670;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  padding-top: 5px;
  padding-left: 15px;
}

.envios_card span {
  color: #2eb670;
}

.nivel_6 {
  margin: auto;
  margin-top: 40px;
  max-width: 1100px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.container_susc {
  padding: 16px 24px;
  display: flex;
  background: linear-gradient(90deg, #a90f90 55%, #0c1a51);
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  align-items: center;
}

.suscribite {
  flex: 1;
}
.container_susc h3 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.precio_susc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-left: 2px solid white;
  padding-left: 10px;
}
.precio_susc h4 {
  text-decoration: line-through;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 200;
}

.precio_susc h2 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
}

.precio_susc span {
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  font-weight: lighter;
  font-size: 18px;
}

.container_susc_1 {
  display: flex;
  flex-direction: column;
  border-bottom: solid 0.5px rgba(128, 128, 128, 0.24);
}

.container_susc_1 h3 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: lighter;
  font-size: 20px;
  padding-left: 25px;
  padding-top: 20px;
}

.logos_susc {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;
  padding-bottom: 25px;
}

.logos_susc h4 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: lighter;
}

.disney {
  display: flex;
  align-items: center;

  max-width: 377px;
  padding: 15px;
  gap: 15px;
}
.disney img {
  border: 1px solid rgba(128, 128, 128, 0.199);
  border-radius: 50%;
}

.star {
  display: flex;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
  font-weight: lighter;
  max-width: 377px;
  padding: 15px;
  gap: 15px;
}
.star img {
  border: 1px solid rgba(128, 128, 128, 0.199);
  border-radius: 50%;
}

.camion {
  display: flex;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
  font-weight: lighter;
  max-width: 377px;
  padding: 15px;
  gap: 15px;
}
.camion img {
  border: 1px solid rgba(128, 128, 128, 0.199);
  border-radius: 50%;
  width: 82px;
  height: 82px;
}

.boton_susc {
  display: flex;
  justify-content: flex-end;
  padding: 25px;
  padding-right: 35px;
}
button {
  background-color: #3483fa;
  font-family: "Nunito Sans", sans-serif;
  color: white;
  font-size: 18px;
  border-color: transparent;
  text-decoration: none;
  border-radius: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.aprovecha {
  max-width: 1100px;
  max-height: 250px;
  background-color: white;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.img_aprov {
  width: 60%;
}

.img_aprov img {
  width: 100%;
  height: 100%;
}
.text_aprovec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background-color: black;
  color: white;
  width: 40%;

  gap: 20px;
}

.text_aprovec_oferta,
a {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.text_aprovec_aprovecha {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}


/* CONTENEDOR PARA FILA 1 DE PRODUCTOS */

.grilla_productos {

  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  gap: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.note {
  width: 540px;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 25px 0px 25px 25px;
}

.note_contenedor {
  display: flex;
  align-items: center;
}
.note_contenedor img {
  width: 34%;
}

.tex_note_contenedor {
  padding-left: 40px;
}

.tex_note_contenedor h3 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 33px;
}

.tex_note_contenedor h4 {
  color: #3483fa;
  font-weight: 500;
}

.impre {
  width: 540px;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 25px 0px 25px 25px;
}

/* CONTENEDOR PARA FILA 2 DE PRODUCTOS */

.grilla_1 {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.producto {
  width: 184px;
 
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.producto_contenedor {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.producto_contenedor img {
  width: 62%;
}

.tex_producto_contenedor {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.tex_producto_contenedor h3 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.tex_producto_contenedor h4 {
  color: #3483fa;
  font-weight: 500;
}

.producto_2x {
  width: 300px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-image: url(/imagenes/medio_back.webp);
  background-size: cover;
  background-position: center;
  justify-content: end;
}

.tex_producto_2x_contenedor {
  background-color: rgba(255, 255, 255, 0.897);
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border-radius: 5px;
  padding: 15px;
}

.tex_producto_2x_contenedor h3 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.tex_producto_2x_contenedor h4 {
  color: #3483fa;
  font-weight: 500;
}


.producto_2x_1 {
  
    width: 300px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    background-image: url(/imagenes/disco.webp);
    background-size: cover;
    background-position: center;
    justify-content: end;
  
}

.tex_producto_2x_contenedor_1 {
  background-color: rgba(255, 255, 255, 0.897);
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  width: fit-content;
}

.tex_producto_2x_contenedor_1 h3 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.tex_producto_2x_contenedor_1 h4 {
  color: #3483fa;
  font-weight: 500;
}


.ups {
  width: 300px;
  min-width: 186px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-content: space-between;

}

.ups_contenedor {
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 100%;
  flex-wrap: wrap;
}
.ups_contenedor img {
  width: 49%;
}

.tex_ups_contenedor {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.tex_ups_contenedor h3 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.tex_ups_contenedor h4 {
  color: #3483fa;
  font-weight: 500;
}


.ups_2x {
  width: 580px;
  min-width: 186px;
  height: 187px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-image: url(/imagenes/conec.webp);
  background-size: cover;
  background-position: center;
  justify-content: end;
}


.test1{
  
  display: flex;
  justify-content: center;
  
}
.categoria_popular{
  align-items: center;
  width: 1080px;
  
}

.ofertas_label_1 {
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.ofertas_label_1 h3 {
  text-align: left;
  font-family: "Nunito Sans", sans-serif;
  font-weight: lighter;
  font-size: 25px;
}

.ofertas_label_1 span {
  padding-left: 20px;
  color: #5697fa;
  font-size: 15px;
  font-weight: 600;
}


.contenedor_grupos_iconos{

margin-top: 100px;
display: flex;
justify-content: center;
}

.grupos_iconos{
  display: flex;
  width: 1100px;
  gap: 1px;
  flex-wrap: wrap;
  justify-content: center;
}

.caja_icono{

  width: 194px;
  height: 194px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
  font-weight: lighter;
  gap: 20px;
  cursor: pointer;
  text-align:center;
  padding-top: 50px;
}

.caja_icono i {
  color: #5697fa;
  font-size: 60px;
}

.caja_icono p{

  padding-left: 10px;
  padding-right: 10px;
}

.caja_icono:hover  {
  background-color:  #5697fa;
  color: white;

}

.caja_icono:hover  i {
  background-color:  #5697fa;
  color: white;

}